<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi01djkL_kI2DQHcTzZkO7Z7pdG_YPCebobgMx4-xthwqA4aFO" width="350" height="241"/>
  <p style="color:indigo;" ><b><u> {{restaurant.waiter}}</u> </b></p>
  
