<!--The content below is only a placeholder and can be replaced.-->
<div style = " text-align: center;background:greenyellow; ">
<h1 style="color:red;">  {{Title}}</h1>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHI4skyUhzx144kD066KkZUCsz5Paqwb2zJ4DkyGz53a_zf0Qw" width="436" height="275" />

  <h2 style="color:green;"><u> :The Restaurant System Like: </u></h2>
<br>
<nav>
<a routerLink="course">CUSTOMER</a>
</nav>
<nav>
<a routerLink="cleaner">CLEANER</a>
</nav>
<nav>
<a routerLink="waiter">WAITER</a>
</nav>
<nav>
  <a routerLink="menu">MENU</a>
  </nav>
<nav>

<a routerLink="cookingdepartment">COOKING-DEPARTMENT</a>
</nav>
<nav>
</nav>
<nav>
<a routerLink="serving">SERVING</a>
</nav>

<nav>

<a routerLink="feedback">FEEDBACK</a>
</nav>
<nav>
<a routerLink="billpayment">BILL-PAYMENT</a>
</nav>
<nav>
<a routerLink="tablebooking">TABLE-BOOKING</a>
</nav>
<nav>
  <a routerLink="SpecialCabin">SPECIALCABIN</a>
  </nav>
<nav>
<a routerLink="BuffetSystem">BUFFETSYSTEM</a>
</nav>
    
<nav>
<a routerLink="BanquetHall">BANQUETHALL</a>
</nav>
<nav>
<a routerLink="CandleLightDinner">CANDLELIGHTDINNER</a>
</nav>
<nav>
<a routerLink="parking">PARKING</a>
</nav>
<nav>
<a routerLink="restrooms">REST-ROOMS</a>
</nav>
<nav>
<a routerLink="homedelivery">HOME-DELIVERY</a>
</nav>
<nav>
<a routerLink="Rating">RATING</a>
</nav>
<nav>
<a routerLink="manager">MANAGER</a>
</nav>
<router-outlet></router-outlet>
</div>
