<img src ="https://images.hindi.news18.com/ibnkhabar/uploads/459x306/jpg/2017/11/Home-delivery.jpg" width="418" height="400"/>
  <p style="color:indigo;"><b><u>{{restaurant.homeDelivery}}</u></b></p>
 