<img src="https://s3-ap-southeast-1.amazonaws.com/vsimg1/propimages/Banquet-Hall-at-Hotel-Royal-Plaza-IMG_9821.jpg" width="300" height="300"/>
  <p style="color:indigo;"><b><u> {{restaurant.BanquetHall}} </u></b></p>
