<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSERV_BCRa9PjM805dGlp-hrGXFtrwtjkjoatNr2EbsVZaAzzwv" width="340" height="221"/>
  <p style="color:indigo;"><b><u>{{restaurant.manager}}</u> </b></p>
