<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_lZTYlzzVrd6H2V5sCrd43wIvz9gOXscEPMs_7jhwHLnD614Ftw" width="275" height="256"/>
  <p style="color:indigo;"><b><u> {{restaurant.feedback}} </u></b></p>
  