<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjzs2ctq3tzxn35MsxWta99BKoFSP-gbxewEhkzjNEP2EQQw65" width="236" height="291"/>
  <p style="color:indigo;"><b><u> {{restaurant.Restrooms}} </u></b></p>
  
