<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4CoT0vyY1nXybnFJQ7ZzmXg_FDFNe4IIufnuLqn2qS_TO5lNklA" width="400" height="250"/>
  <p style="color:indigo;"><b> <u>{{restaurant.cookingDepartment}} </u></b></p>
  
