<img src="https://raw.githubusercontent.com/Monte9/react-native-ratings/master/resources/airbnb_ratings.gif" width="300" height="300"/>
  <p style="color:indigo;"><b><u> {{restaurant.Rating}} </u></b></p>
