<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL2yOWtCXZDnf4uPHBy7XiySeGPSrcFfSf3nKhqSSeqiHLW1Du" width="375" height="300"/>
  
  <p style="color:blue;" ><b><u>:::MENU::::</u></b></p>
  <p><i>   {{restaurant.soup}} >  </i>   80/-</p>
  <p><i>{{restaurant.chicken}}   80/-</i></p>
  <p style="color:brown;" ><b>VEG</b></p>
  <p><i>{{restaurant.vegsweetcorn}}    80/-</i></p>
  <p><i>{{restaurant.veghotsour}}      80/-</i></p>
  <p style="color:brown;"><b>CHINESE STARTERS - NON VEG </b></p>
  <p><i>{{restaurant.creamoftomato}}   80/-</i></p>
  <p><i> {{restaurant.chickenmanchurian}}  170/-</i></p>
  <p><i> {{restaurant.chillichicken}}      170/-</i></p>
  <p><i> {{restaurant.pepperchicken}}   170/-</i></p>
  <p style="color:brown;"><b>SEA FOOD STARTERS</b></p>
  <p><i>{{restaurant.apollofish}}   240/-</i></p>
  <p><i> {{restaurant.chillyfish}}  240/-</i></p>
  <p><i> {{restaurant.looseprawns}}      240/-</i></p>
  <p><i> {{restaurant.fishtikka}}   240/-</i></p>
  <p style="color:brown;"><b>MUTTON</b></p>
  <p><i> {{restaurant.muttoncurry}}  210/-</i></p>
  <p><i> {{restaurant.muttonmasala}}      210/-</i></p>
  <p><i> {{restaurant.kheemamasala}}   210/-</i></p>
  
