
  <img src="https://s.abcnews.com/images/Lifestyle/GTY_hostess_greeting_customers_sr_140411_16x9_992.jpg" width="300" height="300"/>
  <p style="color:indigo;"><b><u> {{restaurant.customer}} </u></b></p>
